/* # Plugins
---------------------------------------------------------------------------------------------------- */


/* ## Skip Links
---------------------------------------------------------------------- */
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	width: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}